/* CSS Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-color: #0077C0;
    --secondary-color: #fAfAfA;
}
body {
    background-color: var(--secondary-color);
}

/* Header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    z-index: 1000;
    padding: 20px 50px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #fAfAfA;
  z-index: 1000;
}

.navbar-brand img {
  max-height: 70px;
}

.navbar-nav .nav-link {
  color: #333;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

@media (max-width: 767.98px) {
  .navbar-nav {
    background-color: #fAfAfA;
    padding: 10px 0;
  }
  .navbar-brand img {
    width:40px;
  }
}


/* Tombol Menu Toggle (Sembunyikan di Desktop) */
.menu-toggle {
    display: none; /* Hanya muncul di mode mobile */
    cursor: pointer;
    font-size: 24px;
}

/* Info Section */
.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 100px);
    padding: 50px;
    background: var(--secondary-color);
    margin-top: 100px;
}

.content h1 {
    font-size: 48px;
    font-weight: 700;
    color: #333;
}

.content h1 span {
    color: var(--primary-color);
}


/* Social Icons */
.social-icons {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.social-icons a {
    margin-right: 10px;
    color: #333;
    font-size: 20px;
}

.ig :hover{
    color: #db46aa;
}
.yt :hover{
    color: red;
}
.tt :hover{
    color: #be1414;
}
.Spotify :hover{
    color: green;
}
.x :hover{
    color: #1d242b;
}
/* Profile */
.profile {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 30%;
    object-fit: cover;
    padding: 20px;
}

/* MODE MOBILE */
@media (max-width: 768px) {
    .info{
        margin-top: 0;
        height: 100vh;
    }
    .content{
        margin-top: 100px;
    }
    .menu-toggle {
        display: block; /* Munculkan toggle hanya di mobile */
        position: absolute;
        right: 20px; /* Tetap mentok kanan */
        top: 25px; /* Sejajar dengan header */
    }

    .profile-wrap {
        display: none; /* Sembunyikan profile di mode mobile */
    }
    .profile {
        display: none; /* Sembunyikan profile di mode mobile */
    }
}
